# Homework 6

Your Name Here

---

We're going to be practing using the Pandas library to explore another dataset: a famouse collection of information about some passengers on board the *Titanic*. To find out more information about this dataset look at the data dictionary on this page: <https://www.kaggle.com/c/titanic/data#:~:text=should%20look%20like.-,data%20dictionary,-Variable>

First create a new folder called `hw-06` under your `data-a-user-manual` class folder and make sure this Jupyter Notebook is saved in that folder. Then download the data as a CSV file from the following Github repository: <https://github.com/datasciencedojo/datasets>. Look for `titanic.csv` and save that into your `hw-06` folder.

**Import the pandas library.**

In [ ]:
#Your Code Here

**Read in the CSV file.**

In [ ]:
#Your Code Here

**Display the first 12 rows of your dataset.**

In [ ]:
#Your Code Here

**How many rows vs columns are in this dataset?**

In [ ]:
#Your Code Here

**What is the different data types for the `Survived?` vs. the `Age` column? Write code to find the answer, then edit the following Markdown cell to write it in your own words.**

In [ ]:
#Your Code Here

**Edit this cell to compare the data types for `Survived` vs. `Age` columns:**

*Your Answer Here*

**Use the `.isna()` or `.notna()` methods in conjunction with a filter to only select rows from your dataframe consisting of passengers for which we have information about the cabin they were in.**

In [ ]:
#Your Code Here

**What percentage of rows (passengers) in the dataset have information about their cabin number?**

In [ ]:
#Your Code Here

Some of our columns are hard to read. **Rename the following columns:**

- The`SibSp` column contains information about whether the passenger had family on board (siblings or spouses). **Rename the column `siblings_spouses`.**
- The `Pclass` column stands for the ticket class (1st, 2nd, or 3rd). **Rename the column `ticket_class`.**

*Hint: remember to change it permanently rather than temporarily*.

In [ ]:
#Your Code Here

**Which passengers bought the nine most expensive tickets?**

In [ ]:
#Your Code Here

**What was the median age of passengers on the Titanic?**

In [ ]:
#Your Code Here

**Who was the oldest passenger on the Titanic in our dataset?**

In [ ]:
#Your Code Here

**Calculate the *number* of passegners in the dataset who survived the Titanic voyage**

In [ ]:
#Your Code Here

**Calculate the *percentage* of passengers in the dataset who survived the Titanic voyage.**

In [ ]:
#Your Code Here

**Use the `groupby` function to count how many passengers bought each class of ticket.**

In [ ]:
#Your Code Here

**Use the `groupby` function to group passengers into different classes of ticket and then calculate the median age of passengers within each ticket class.**

In [ ]:
#Your Code Here

**Use the `groupby` function to group passengers into different classes of ticket and then calculate the median ticket fare within each ticket class.**

In [ ]:
#Your Code Here

**Bonus: Make a pie chart visualizing the proportion of people who survived the Titanic.**

In [ ]:
#Your Code Here